body{
  background:#eef3f9;
  font-family:tahoma;
}

.navbar{
  background:#052b5b !important;
}

.transfer-card{
  border:none;
  border-radius:25px;
}

.bank-real-card{

  background:linear-gradient(
    135deg,
    #003973,
    #0056b3
  );

  color:white;

  padding:30px;

  border-radius:20px;

  box-shadow:0 10px 25px rgba(0,0,0,.2);

}

.bank-name{
  font-size:22px;
  font-weight:bold;
}

.bank-number{
  margin-top:30px;
  font-size:28px;
  letter-spacing:3px;
}

.bank-owner{
  margin-top:20px;
}

.bank-country{
  margin-top:10px;
  opacity:.8;
}

#loadingOverlay{

  position:fixed;
  inset:0;

  background:rgba(255,255,255,.9);

  z-index:9999;

  display:flex;
  justify-content:center;
  align-items:center;

}

.loader-box{
  text-align:center;
}

.logo-animation{

  animation:zoomLogo 2s infinite;

}

@keyframes zoomLogo{

  0%{
    transform:scale(.9);
    opacity:.5;
  }

  50%{
    transform:scale(1.1);
    opacity:1;
  }

  100%{
    transform:scale(.9);
    opacity:.5;
  }

}
